// Buttons
// -------------------

// Overrides: atom/atom/static/buttons.less


.btn {
  color: lighten($text-color, 6%);
  background-color: $button-background-color;
  position: relative;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 25px; // Make room for indicator

  &::before {
    content: ">";
    position: absolute;
    left: 10px;
    opacity: 0;
    transition: all 0.2s;
  }

  &:hover,
  &:focus {
    color: $text-color-highlight;
    background-color: $button-background-color-hover;

    &::before {
      opacity: 1;
      left: 8px;
    }
  }

  &:active {
    color: rgba($text-color-selected, 0.66);
    background-color: darken($button-background-color, 2%);
    transform: translateY(1px);
  }

  &.selected {
    color: $text-color-selected;
    background-color: $button-background-color-selected;
  }

  &:focus,
  &:focus:active {
    outline: none;
  }
}


@mixin btn-color($bg) {
  color: $text-color-selected;
  background-color: $bg;

  &:hover,
  &:focus {
    background-color: lighten($bg, 4%);
  }

  &:active {
    background-color: darken($bg, 4%);
  }

  &.selected {
    background-color: lighten($bg, 4%);
  }

  &.selected:focus,
  &.selected:hover {
    background-color: lighten($bg, 8%);
  }
}

// Colored buttons -----------------------

.btn.btn-primary {
  @include btn-color($background-color-info);
}

.btn.btn-info {
  @include btn-color($background-color-info);
}

.btn.btn-success {
  @include btn-color($background-color-success);
}

.btn.btn-warning {
  @include btn-color($background-color-warning);
}

.btn.btn-error {
  @include btn-color($background-color-error);
}


// Button Group -----------------------

.btn-group>.btn {
  border-color: hsla(0, 0%, 0%, .2);
}